.dark-medium-contrast {
  --md-sys-color-primary: rgb(169 215 154);
  --md-sys-color-surface-tint: rgb(165 211 150);
  --md-sys-color-on-primary: rgb(0 28 0);
  --md-sys-color-primary-container: rgb(112 156 100);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(152 209 251);
  --md-sys-color-on-secondary: rgb(0 24 39);
  --md-sys-color-secondary-container: rgb(93 151 190);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(133 217 210);
  --md-sys-color-on-tertiary: rgb(0 26 24);
  --md-sys-color-tertiary-container: rgb(72 158 152);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 20 15);
  --md-sys-color-on-background: rgb(225 228 218);
  --md-sys-color-surface: rgb(17 20 15);
  --md-sys-color-on-surface: rgb(249 252 242);
  --md-sys-color-surface-variant: rgb(67 72 63);
  --md-sys-color-on-surface-variant: rgb(199 205 192);
  --md-sys-color-outline: rgb(159 165 153);
  --md-sys-color-outline-variant: rgb(127 133 122);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 228 218);
  --md-sys-color-inverse-on-surface: rgb(39 43 37);
  --md-sys-color-inverse-primary: rgb(41 81 34);
  --md-sys-color-primary-fixed: rgb(192 239 176);
  --md-sys-color-on-primary-fixed: rgb(0 22 0);
  --md-sys-color-primary-fixed-dim: rgb(165 211 150);
  --md-sys-color-on-primary-fixed-variant: rgb(23 62 17);
  --md-sys-color-secondary-fixed: rgb(200 230 255);
  --md-sys-color-on-secondary-fixed: rgb(0 19 31);
  --md-sys-color-secondary-fixed-dim: rgb(148 205 246);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 58 85);
  --md-sys-color-tertiary-fixed: rgb(157 242 234);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 19);
  --md-sys-color-tertiary-fixed-dim: rgb(129 213 206);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 61 58);
  --md-sys-color-surface-dim: rgb(17 20 15);
  --md-sys-color-surface-bright: rgb(54 58 52);
  --md-sys-color-surface-container-lowest: rgb(11 15 10);
  --md-sys-color-surface-container-low: rgb(25 29 23);
  --md-sys-color-surface-container: rgb(29 33 27);
  --md-sys-color-surface-container-high: rgb(39 43 37);
  --md-sys-color-surface-container-highest: rgb(50 54 47);
}
